<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Sistema.DAO.Properties.Settings.banco" connectionString="Data Source=DESKTOP-B3F9B9I\SQLEXPRESS01;Initial Catalog=bancomvc;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>